.container {
  padding: 20px;
  border-radius: 5px;
}

.container button {
  margin: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.container button:nth-child(2n) {
  background-color: #333;
  color: snow;
}
