.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 1px 1px 3px gray;
  width: 300px;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container button {
  padding: 5px;
}
